.navbar {
    background-color: #fff;
}

.nav-link{
    color: #000;
}

.navbar-brand{
    font-weight: 700;
}

.nav-cover {
    background-color: rgba(0, 0, 0, 0.8); /* Adjust the opacity and color as needed */
    position: fixed; /* Optional: to cover the entire viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2; /* Ensure it covers other elements */
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: none;
}